# vi: ft=yaml.ansible
---
- name: Install Packages Minimal
  become: true
  block:
    - name: Minimal => install Drivers
      ansible.builtin.apt:
        name: "{{ item }}"
        update_cache: true
        cache_valid_time: 86400
      loop:
        - bluez

    - name: Minimal => install essential CLI and networking tools
      ansible.builtin.apt:
        name: "{{ item }}"
      loop:
        - curl
        - wget
        - acl
        - net-tools
        - eza
        - zip
        - htop
        - tmux


- name: Install Packages Full
  when:
    - packages is defined
    - packages == "full"
  become: true
  block:
    - name: Full => install dev tools
      ansible.builtin.apt:
        name: "{{ item }}"
      loop:
        - snapd
        - git
        - openssh-server
        - openssh-client
        - build-essential
        - jq
        - ripgrep
        - fd-find
        - fzf

    - name: Full => install proggramming languages
      ansible.builtin.apt:
        name: "{{ item }}"
      loop:
        - python3
        - python3-pip
        - python3-venv
        - nodejs
        - npm
        - golang
        - default-jdk
        - php-cli
        - php-curl
        - lua5.4
        - luarocks

    - name: Full => Set docker repository (ubuntu)
      when: ansible_distribution == "Ubuntu"
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          # Add Docker's official GPG key:
          sudo apt-get update
          sudo apt-get install ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc

          # Add the repository to Apt sources:
          echo \
            "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
            $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}") stable" | \
            sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt-get update
      args:
        executable: /bin/bash
      changed_when: false

    - name: Full => Set docker repository
      when: ansible_distribution == "Debian"
      ansible.builtin.shell:
        cmd: |
          set -o pipefail
          # Add Docker's official GPG key:
          sudo apt-get update
          sudo apt-get install ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/debian/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc

          # Add the repository to Apt sources:
          echo \
            "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian \
            $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
            sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt-get update
      args:
        executable: /bin/bash
      changed_when: false

    - name: Full => install Docker
      ansible.builtin.apt:
        name: "{{ item }}"
      loop:
        - docker-ce
        - docker-ce-cli
        - containerd.io
        - docker-buildx-plugin
        - docker-compose-plugin


- name: Extra packages
  when: extra_packages is defined
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400
    name: "{{ item }}"
  loop: "{{ extra_packages }}"


- name: Change Timezone
  when: timezone is defined
  community.general.timezone:
    name: "{{ timezone }}"


- name: Copy Terminfo
  ansible.builtin.copy:
    src: "{{ role_path }}/files/xterm-ghostty.src"
    dest: /tmp/xterm-ghostty.src
    mode: "0777"


- name: Compile Terminfo
  ansible.builtin.command:
    cmd: tic -x -o /usr/share/terminfo/ /tmp/xterm-ghostty.src
    creates: "/usr/share/terminfo/x/xterm-ghostty"
